/* 
    General Styles
*/

body {
 background-image: url("https://clipartart.com/images/clipart-background-space.jpg");
 background-color: #000000;
 background-repeat: no-repeat center fixed;
 height: 50%;
 width: 100%;
 background-size: cover;
 }

 // https://wallpapercave.com/wp/wp8013162.jpg
 //https://ak.picdn.net/shutterstock/videos/1096258/thumb/1.jpg
 // https://cdn.statically.io/img/i.pinimg.com/originals/78/84/da/7884da2c7b3813094f03e09ca581e334.jpg
 // https://i.pinimg.com/originals/98/73/40/9873402b08bf03fb61d512564f577d2b.png